@media  screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        }

    /* ============== HEADER TABLET STYLES ============== */
    .nav-header {
    display: flex;
    gap: 40px
    }

    .adress {
    display: flex;
    font-style: normal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        }

    .mobile-open-btn {
    display: none;
    }

    .flex-nav {
    display: flex;
    align-items: center;
    }

    .nav-li {
        display: block;
        color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        column-gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .nav-li:focus {
        color: #404BBF;
        }

        .li-stick {
            position: relative;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .li-stick::after {
            content: "";
            left: 0;
            bottom: -1px;
            position: absolute;
            width: 48px;
            height: 4px;
            border-radius: 2px;
            background-color: #404BBF;
            }
            
            .li-stick:focus {
            color: #404BBF;
            }
    /* ============== /HEADER MOBILE STYLES ============== */
    
 /* ============== MOBILE HERO SECTION ============== */

.hero-section {
padding: 112px 0;
background-image: linear-gradient(
rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)
), 
url(../images/Dark-bg768x436.jpg);
padding: 112px 0;
}

.hero-header-section {
font-size: 56px;
max-width: 496px;
}

/* ============== /MOBILE HERO SECTION ============== */


/* ============== TABLET TWO SECTION ============== */

.display-section {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.calcul {
margin-left: 24px;
}
/* ============== /TABLET TWO SECTION ============== */


/* ============== TABLET THREE SECTION ============== */

.section-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 108px;
    gap: 24px;
}

/* ============== /TABLET THREE SECTION ============== */




/* ============== TABLET FOOTER SECTION ============== */

.footer-container {
    display: flex;
    flex-direction: column;
    width: 264px;
}

.logo-footer {
display: flex;
justify-content: flex-start;
margin-left: 20px;
}

.footer-social-section {
    width: 208px;
}

/* ============== /TABLET FOOTER SECTION ============== */


}